#toggle-this-site:hover svg {
	opacity: 0.9;
}
body.off #toggle-this-site svg {
	stroke: #ccc;
}
body:not(.connected).off #toggle-this-site svg {
	stroke: #faa;
}
body:not(.connected):not(.off) #toggle-this-site svg {
	stroke: #f33;
}
body.connected #server-not-running {
	display: none;
}
#toggle-this-site {
	border: 0;
	margin: 0;
	padding: 20px;
	outline: none;
	background: none;
	stroke: #0046ff;
	cursor: pointer;
}
